*{box-sizing:border-box;}
body{
  font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background-color:#bed2e0;
  width:600px;
  padding: 20px 20px;
}
.header{
    background-color:#bed2e0;
    padding:20px;text-align:center;}
h1{color:#2e4054;}

#currtime {
  text-align: right;
  padding: 0px;
  color:#cc274c;
}
.columnLeft{
  float:left;
  width: 70%; /*for 3 ->33.3%*/
  padding:10px;
  border:0px;
}
.columnRight{
  float:left;
  width: 30%; /*for 3 ->33.3%*/
  padding:10px;
  border:0px;
}
.oneLetterCol{
    float:left;
    width:10%;
    margin:0px;
    padding:2px;
    /*border:1px solid;*/
}
#shufWord{padding-left: 10px;}
input{
    font-size:x-large;
    width:30px;
    border: 1px solid #2e4054;
    border-radius: 4px;
    background-color: #ccc;
    text-align:center;
    text-transform: uppercase !important;
}
.wrongAns{color:#cc274c;}
.correctAns{color: #2e4054;}
/*2 columns*/
.column{
  float:left;
  width: 50%; /*for 3 ->33.3%*/
  padding:10px;
  border:0px;
}
.row{padding: 0px;}
.row:after{
  content:"";
  display:table;
  clear:both;
  padding:0px;
}

div{
  /*opacity:0.8;filter:alpha(opacity=10);*/
  border:1px solid #bed2e0;
  padding:0px;
  text-align:left;/*justify;*/
}
.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
/*menu dropdown*/
ul{
  list-style-type:none;
  margin:0;padding:0px;
  overflow:hidden;/*border:1px solid #e7e7e7;*/
  background-color:#2e405480;/*#f3f3f3;*/
}
li{float:left;width:25%;}
li a, .dropbtn{
  display:block;/*inline-block*/
  color:#bed2e0;/*#665;*/
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
li a:hover, .dropdown:hover .dropbtn{background-color:#2e4054;}
li.dropdown{display:inline-block;}
button{
  background-color:#2e4054;
  color:white;
  text-align:center;
  padding: 5px;
  margin:3px;
}
.copy-left{
  display:inline-block;
  text-align:right;margin:0px;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH;-ms-filter:"FlipH";
}

/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){
*/
@media (max-width:800px){
    .menu, .column{
      width:100%;
      text-align: justify;
    }
    body{
      width: 100%;
      padding: 0px;
    }
    .columnLeft,.columnRight{width:100%;}
    li{width:100%;}
    .dropdown-content{width:50%;}
}
