*{box-sizing:border-box;}
body{
  font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  /*background: linear-gradient(45deg, hsl(240, 50%, 78%), hsl(30, 100%, 50%));*/
  background-color:#2e4054;
  padding: 20px 20px;
  margin: 0px;
  color:#bed2e0;
}
header, address, footer{
  padding:10px;
  text-align:center;
  margin: 10px;
}
nav{
  display: block;
  width: 100%;
  box-sizing: inherit;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a{
  text-decoration: none;
  color: #bed2e0;
}
.mySNS{padding:5px;}
.navlink{
  position:relative;
  padding: 1rem 1rem 0rem 1rem;
  font-size: 1rem;
}
.navlink-off,.navlink-on{position:relative}
.navlink-off:after,.navlink-on:after{content:" ";display:block;margin:.125rem auto 0;width:0;height:.125rem;border-radius:.125rem;background:rgba(255,255,255,0);pointer-events:none;transition:all .4s ease}
.navlink-off:hover:after{width:100%;background:#bed2e0;}
.navlink-on:after{width:100%;background:#bed2e0;}
.inline-block{
  display: inline-block;
  vertical-align: top;
}

#currtime {
  text-align: right;
  padding: 0px;
  color:#cc274c;
}
.marginsLR{
  margin-left: auto;
  margin-right: auto;
}
.clearfix{
  padding:30px;
  text-align: justify;
}
.oneLetterCol{
  float:left;
  /*width: 32px;*/
  margin:0px;
  padding:2px;
  border:0px;
}
main{
  flex: 1 1 0px;
  max-width: 25rem;
  width: 100%;
  border:0px;
}
#shufWord h2{
  border: 1px dashed;
  padding: 0px;
  text-align: center;
  margin-bottom: 2px;
}
input{
  font-size:x-large;
  width:30px;
  border: 1px solid #2e4054;
  border-radius: 4px;
  background-color: #bed2e0;
  text-align:center;
  text-transform: uppercase !important;
}
.wrongAns{color:tomato;}
.wrongBar{background-color: tomato;}
.correctAns{color: slateblue;}
.correctBar{background-color: #bed2e0;}
.notPressed{color: #bed2e0;}
.yesPressed{color:tomato;}
/*2 columns*/
.column{
  float:left;
  width: 50%; /*for 3 ->33.3%*/
  padding:10px;
  border:0px;
}
.align-left{text-align: left;}
.align-right{text-align: right;}
.row{
  padding: 0px;
  border: 0px;
}
.row:after{
  content:"";
  display:table;
  clear:both;
  padding:0px;
}
.separator{
  margin-top: 5px;
  margin-bottom: 10px;
  height: 4px;
}
button{
  background-color:#2e4054;
  color:white;
  text-align:center;
  padding: 5px;
  margin:3px;
}
.copy-left{
  display:inline-block;
  text-align:right;margin:0px;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH;-ms-filter:"FlipH";
}
.success_window{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top:30%;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #2e405430;
}
.success-content{
  position:relative;
  background-color: #bed2e0;
  margin:auto;
  padding: 0;
  width: 80%;
}
.success-header{
  padding: 2px 16px;
  background-color: #bed2e060;
}
.success-body{
  padding: 10px 0px;
  color:#2e4054;
  text-align: center;
}
.success-svg{
  width: 30%;
  height: 30%;
}
.closeBtn{
  color:#cc274c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){
*/
@media (max-width:620px){
    .column{
      width:100%;
      text-align: justify;
    }
    body{
      width: 100%;
      padding: 0px;
    }
    main{padding:20px;}
    .clearfix{width:auto;}
    .align-left,.align-right{text-align: center;}
}
